<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.



**Objectives:**

- List popular languages for Data Science.
- Introduce commonly used libraries in data science.
- Explore open source development environment tools for data science.
- Provide an overview of key concepts in data science.
- Highlight the importance of Jupyter Notebooks in the data science workflow.

Some of the popular languages that Data Scientists use are: 
    <ol>
      <li>Python</li>
        <li>R</li>
        <li>SQL</li>
        </ol>

Some of the commonly used libraries used by Data Scientists include:
    <ol>
    <li>NumPy</li>
    <li>Pandas</li>
    <li>Matplotlib</li>
    </ol>

 <h3>Data Science Tools</h3>

<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
  <tr>
    <td>RStudio</td>
  </tr>
  <tr>
    <td>VS Code (Visual Studio Code)</td>
  </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60
hours

3.3333333333333335

<h2>Author</h2>
Abdenour Chenouf